@font-face {
    font-family: pristina;
    src: url(../fonts/pristina.ttf);
}
body{
    background-color: #f0f0f0;
    font-family: pristina;
    color: #c2c2c2
}
.container{
    width: 900px;
    margin: 20px auto;
}
.imagen{
    margin: 15px auto 15px 15px;
    height: 60px;
}
.menu{
    vertical-align: top;
}
.header{
    background-color: black;
    font-size: 1.75rem;
    height: 100px;
}
.item{
    padding: 10px 0px 10px 0px;
}
.bloque{
    display: inline-block;
    margin: 10px;
}
.nonelist{
    list-style-type: none;
}
.list{
    padding: 0px;
    vertical-align: top;
    font-size: 1.5rem;
}
.link{
    text-decoration: none;
    color: #c2c2c2 ;
}
.link:hover{
    color: #ce8217;
}
.peque{
    width: 15%;
    height: 90px;
}
.footer{
    text-align: center;
}